*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #B2B2B2;
}

/* navbar */


/* landing page */
.title {
    margin: 111px;
}
.skateman {
    width: 223px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50px;
}

/* products page */
#filter-btn1, #filter-btn2 , #filter-btn3, .all-btn {
    width: 10vw;
}
#filter-btn1:hover, #filter-btn2:hover , #filter-btn3:hover, .all-btn:hover {
    background-color: grey;
}

.products {
    display: flex;
    gap: 30px;
}

.card {
    box-shadow: 5px 5px 5px black;
}

.buy-btn:hover {
    background-color: grey;
}


/* admin page */
.del-btn:hover {
    background-color: grey;
}

.edit-btn:hover {
    background-color: grey;
}
.sort-btn:hover {
    background-color: grey;
}

/* checkout page*/